---
import Base from "@layouts/Base.astro";
import pb from "@utils/pocketbase";

let connected = false;

try {
  await fetch(pb.baseUrl);
  connected = true;
} catch (error) {
  console.log(error);
}
---

<Base title="PocketNaut by Nnisarg Gada - nnisarg.in">
  <div
    class="w-full max-w-5xl mx-auto min-h-screen flex items-center justify-center p-4"
  >
    <h1 class="text-center text-3xl font-bold">
      PocketBase is {!connected && "not"} connected!
    </h1>
  </div>
</Base>
