---
import Base from "@layouts/Base.astro";
---

<Base title="PocketNaut by Nnisarg Gada - nnisarg.in">
  <div
    class="w-full max-w-5xl mx-auto min-h-screen flex flex-col gap-4 items-center justify-center p-4"
  >
    <h1 class="text-center text-3xl font-bold">
      Welcome to <a
        target="_blank"
        href="https://github.com/nnisarggada/pocketnaut"
        class="text-purple-400 underline underline-offset-4">PocketNaut!</a
      >
    </h1>
  </div>
</Base>
